* {
  box-sizing: border-box;
}

#index-background {
  background: url(cssImages/background.png) no-repeat;
  background-size: cover;
  height: 700px;
}
#explore-col {
  background: url(./cssImages/Water-pic.jpg) no-repeat;
  background-size: cover;
}


@media screen and (max-width: 1399px) {

  #project-nav {
    height: 100% !important;
  }

}


#foot-logo {
  border-top: 2px solid black;
}

#foot-icons img, #head-icons img {
  max-width: 40px;
}

#nav-buttons a, #logout-button {
  border-radius: 10px;
  color: black;
}


.accordion div, .accordion-header button{
  background: none;
}

#project-sidebar .accordion-item, .offcanvas .accordion-item {
  border-right: none;
  border-left:none;
}


#project-sidebar .accordion button,#project-sidebar .accordion-body {
  background-color:#f8f9fa;
}


#project-nav button {
  outline: 0;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}


#project-nav button:hover {
  background: linear-gradient(to bottom right, #fffff2, #ffbd59);
  color: black;
}

#note-btn button {
  width: 100%;
  border-radius: 5%;
  height: 50px;
}
#note-btn button:hover {
   background: linear-gradient(to bottom right, #fffff2, #ffbd59);
  color: black;
}

#note-btn {
  max-height: 500px;
  overflow-y: auto;
}

#logout-button:hover {
  background: linear-gradient(to bottom right, #fffff2, #ffbd59);
    color: black;
}

.accordion-button:hover {
  background: linear-gradient(to bottom right, #fffff2, #ffbd59);
}
.accordion-button:not(.collapsed) {
  background: linear-gradient(to bottom right, #fffff2, #ffbd59);
}

.accordion-button {
  border-radius: 6px !important;
}

#edit-arc .accordion-header button:hover {
  background: linear-gradient(to bottom right, #ffbd59, #fffff2);
}


#nav-buttons a:hover{
  background: linear-gradient(to bottom right, #fffff2,  #ffbd59  );
  transform: translateX(4px);
  transition: transform 0.3s;
}


#sidebar {
  overflow-y: auto;
  overflow-x: clip;
}

table tr td,
table tr th {
  background-color: rgba(255, 255, 255, 0) !important;
}

#table-div {
  overflow-y: auto;
  height: 320px;
  width: 80%;
  border-radius: 1%;
}

#papyrus {
  background: url(cssImages/texturePaper.jpg) center;
  background-size: cover;
}

#project-sidebar{
  overflow-y: auto;
  max-height: 100%;
  scroll-behavior: auto;
}



.sticky-container {
  position: sticky;
  top: 0;
  background-color: white; /* Set the background color as needed */
  padding: 10px;
  z-index: 1000; /* Set a higher z-index if needed */
}

.ProseMirror {
  font-size: 1.5rem;
  background: none;
  border: 2px solid black;
  border-radius: 1%;
  padding: 10px;
  min-height: 500px;
  max-height: 750px;
  overflow-y: auto;
}

#tiptap-nav > div > button, #dropdown-button {
  border: none;
  background-color: wheat;
  height: 30px;
  border-radius: 7%;
  margin-top: 5px;
}

#font-size-dropdown button{
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.editor-status span {
  margin-top: 6px;
  font-size: 14px;
}

#tiptap-nav span {
  margin-top: 6px;
}

#tiptap-nav {
  border-radius: 2%;
}

.editor-enter {
    opacity: 0;
}
.editor-enter-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out; /* Adjust timing as needed */
}
.editor-exit {
    opacity: 1;
}
.editor-exit-active {
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Adjust timing as needed */
}

#manage-projects {
  min-height: 500px;
  border-radius: 2%;
  background: linear-gradient(to bottom right, #fffff2, #ffbd59);
  border: 2px solid black;
}

#profile-background {
  background: url(cssImages/silkBackground.jpg) no-repeat;
  background-size: cover;
  min-height: 600px;
}

#brainstorm-background {
  background: url(cssImages/fogMountain.jpg) no-repeat;
  background-size: cover;
}

#brainstorm-chat {
  background-color: rgba(245, 245, 245, .6);
  border-radius: 6%;
  width: 93%;
  min-height: 700px;
  max-width: 1200px;
}

#chat-history {
  min-height: 400px;
  max-height: 650px;
  overflow-y: auto;
}